.vscode export-ignore
.env export-ignore
.git export-ignore
.gitattributes export-ignore
.gitignore export-ignore
package-lock.json export-ignore
package.json export-ignore
update-local-node.sh export-ignore
push-new-branch.sh export-ignore