* {
  margin: 0; padding: 0; box-sizing: border-box; user-select: none;
}
body {
  background: #1c1e1e;
  /* background: #d8dddd; */
  /* background-image: url('https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  display: flex; flex-direction: column; place-items: start; place-content: center; gap: 10px;
  padding: 10px;
  font-family: Verdana, sans-serif;
}
body #add-data-panel {
  display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;
  user-select: none;
}
body .non-initial {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 60px;
}
body #add-data-panel img {
  height: 100%; max-height: 150px;
  opacity: .7;
}
body #add-data-panel span {
  text-align: center;
  color: #282c31; font-size: 30px; font-weight: bold; font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}
body #add-data-panel:hover img {
  opacity: 1;
}
body main {
  /* width: 100vw; */ height: 100%;
  display: flex; justify-content: flex-start; align-items: flex-start; gap: 10px;
  overflow: auto;
  padding: 100px;
}
/* body::-webkit-scrollbar {
  display: none;
} */
body main .link-item {
  width: 100px; height: 100px;
  display: inline-block;
  /* margin: 5px; */
  position: relative;
}
body main .link-item .link-anchor {
  background: #ffffff; background-size: 100%; background-position: center; background-repeat: no-repeat;
  width: 100%; height: 100%;
  border-radius: 5px;
  display: flex; justify-content: flex-start; align-items: flex-start;
  text-decoration: none; color: #333333;
  /* padding: 5px; */
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
  transition: all 0.1s ease-in;
}
body main .link-item .link-anchor:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 4px 16px rgba(0,0,0,0.24);
  animation: push-in 0.3s ease-in-out 1;
}
/* body main .services .link-item .link-anchor img {
  width: 100%; height: 100%;
  border-radius: 5px;
} */
body main  .disabled-link .link-anchor {
  pointer-events: none;
  opacity: .1;
}
body main .fixed-tool-button {
  position: absolute;
}
body main .tool-button {
  display: block;
  width: 20px; height: 20px;
  opacity: .6;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
  animation: pop-in 0.3s ease-in-out 1;
}
body main .tool-button:hover {
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 4px 16px rgba(0,0,0,0.24);
  transition: all 0.1s ease-in;
}
body #form-container {
  background: #0009;
  display: flex; justify-content: center; align-items: center;
  position: fixed; left: 0px; top: 0px;
  width: 100vw; height: 100vh;
  backdrop-filter: blur(15px);
  animation: blur-form-in 0.3s ease-in-out 1;
}
body #form {
  display: flex; justify-content: center; align-items: center; gap: 5px;
  background: #3338;
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  /* border: 1px solid #3c3c3c; */
  animation: pop-form-in 0.3s ease-in-out 1;
}
#form input,
#form select {
  height: 40px;
  border-radius: 4px;
  border: none;
  font-size: 1em;
  padding: 5px; padding-left: 10px;
}
#form input:focus,
#form select:focus {
  outline: none;
}
#form input:invalid {
  background: #f99;
}
#form .tool-button {
  background: none;
  min-width: 40px; height: 40px;
  background-position: center; background-size: cover; background-repeat: no-repeat;
  border-width: 2px; border-style: solid; border-color: #fff0;
  box-sizing: border-box;
  border-radius: 50%;
}
#form #add-button {
  background-image: url("./icons/plus-disabled.png");
}
#form #update-button {
  background-image: url("./icons/check-disabled.png");
}
#form #add-button:enabled {
  background-image: url("./icons/plus.png");
}
#form #update-button:enabled {
  background-image: url("./icons/check.png");
}
#form .tool-button:hover {
  border-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

@keyframes pop-in {
  70% {
    transform: scale(1.2);
  }
}
@keyframes roll-out {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes push-in {
  70% {
    transform: scale(0.99);
  }
}
@keyframes pop-form-in {
  70% {
    transform: scale(1.4);
  }
}
@keyframes push-form-out {
  70% {
    transform: scale(1.4);
  }
}
@keyframes blur-form-in {
  from {
    background: #0000;
    backdrop-filter: blur(0px);
  }
  to {
    background: #0009;
    backdrop-filter: blur(15px);
  }
}
@keyframes blur-form-out {
  from {
    background: #0009;
    backdrop-filter: blur(15px);
  }
  to {
    background: #0000;
    backdrop-filter: blur(0px);
  }
}